<form [formGroup]="searchForm">
  <div class="flex justify-content-center mt-5">
    <div class="grid">
      <div class="col-12 mb-3">
        <span class="p-float-label">
          <input pInputText id="Productname" formControlName="Productname"/>
          <label htmlFor="Productname">Productname</label>
        </span>
      </div>
      <div class="col-6 mb-3">
        <span class="p-float-label">
          <input pInputText id="Created" formControlName="Created"/>
          <label htmlFor="Created">Created</label>
        </span>
      </div>
      <div class="col-6 mb-3">
        <span class="p-float-label">
          <input pInputText id="Updated" formControlName="Updated"/>
          <label htmlFor="Updated">Updated</label>
        </span>
      </div>
    </div>
  </div>
</form>
  
<div class="flex justify-content-center gap-2">
  <button pButton pRipple label="Submit" class="p-button-success" (click)="onSearch()"></button>
  <button pButton pRipple label="Clear" class="p-button-warning"></button>
</div>