<form [formGroup]="searchForm">
  <div class="flex justify-content-center mt-5">
    <div class="grid">
      <div class="col-12 mb-3">
        <span class="p-float-label">
          <input pInputText id="productname" formControlName="productname"/>
          <label htmlFor="productname">Productname</label>
        </span>
      </div>
      <div class="col-6 mb-3">
        <span class="p-float-label">
          <input pInputText id="created" formControlName="created"/>
          <label htmlFor="created">Created</label>
        </span>
      </div>
      <div class="col-6 mb-3">
        <span class="p-float-label">
          <input pInputText id="updated" formControlName="updated"/>
          <label htmlFor="updated">Updated</label>
        </span>
      </div>
    </div>
  </div>
</form>
  
<div class="flex justify-content-center gap-2">
  <button pButton pRipple label="Submit" class="p-button-success" (click)="onSearch()"></button>
  <button pButton pRipple label="Clear" class="p-button-warning" (click)="onClear()"></button>
</div>