<form [formGroup]="searchForm" enctype="multipart/form-data">
  <div class="flex justify-content-center mt-5">
    <div class="grid">
      <div class="col-12 mb-3">
        <span class="p-float-label">
          <input pInputText id="name" formControlName="name"/>
          <label htmlFor="name">Productname</label>
        </span>
      </div>
      <div class="col-6 mb-3">
        <span class="p-float-label">
          <input pInputText id="stock" formControlName="stock"/>
          <label htmlFor="stock">Stock</label>
        </span>
      </div>
      <div class="col-6 mb-3">
        <span class="p-float-label">
          <input pInputText id="price" formControlName="price"/>
          <label htmlFor="price">Price</label>
        </span>
      </div>
      <div class="col-12 mb-3">
        <span class="p-float-label">
          <button class="btn-clear-file" (click)="onClearFileSelect()">
            <i class="pi pi-trash cursor-pointer" style="color: white;"></i>
          </button>
          <input type="file" id="image"  accept=".png, .jpg, .jpeg" formControlName="image"/>
        </span>
      </div>
    </div>
  </div>
</form>
  
<div class="flex justify-content-center gap-2">
  <button pButton pRipple label="Submit" class="p-button-success" (click)="onSave()"></button>
  <button pButton pRipple label="Clear" class="p-button-warning" (click)="onClear()"></button>
</div>