input[type="file"]::file-selector-button {
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    background-color: #e3e3e3;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
    color: #828282;
    display: none;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #66baff;
    color: white;
  }
  
  .btn-file {
    border-radius: 6px;
    border: none;
    padding: 8px ;
    width: 100px;
    margin: 5px 5px 0 5px;
    background: #66baff;
  }
  
  
  .btn-file:hover {
    background: rgb(255, 114, 114);
  }
  
  #previewImage {
    width: 180px;
    height: 140px;
  }